{% extends "base-without-header.html" %}

{% block content %}

    <main class="container">
        <h1 class="mt-5">Login</h1>
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <form action="{% url "users:login" %}" method="post" class="my-3 py-3 px-4 border">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Login">
        </form>

    </main>

{% endblock content %}