{% extends "base-without-header.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Register new user</h1>
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <form action="{% url "users:register" %}" method="post" class="my-3 py-3 px-4 border">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Register"/>
        </form>
    </div>
{% endblock %}